<main-menu>
	<menu name="MEN_CURRENT_USER" icon-name="1463781387_user-group.png" privlige-id="101">
		<menu-item name="RESET_PASSWORD" icon-name="1463781800_change_password.png" privlige-id="10101">
			<properties>
				<property name="panel-class" value="com.fs.security.ui.PnlResetPassword" cache="false" />
			</properties>
		</menu-item>
		<menu-item name="MI_EXIT" icon-name="1463781847_logout.png" privlige-id="10102">
			<properties>
				<property name="executor" value="com.fs.commons.apps.executors.LogoutExecutor" />
			</properties>
		</menu-item>
	</menu>

	<menu name="MEN_TOOLS" icon-name="1463781705_preferences-system.png" privlige-id="103">
		<menu-item name="MI_FEED_BACK" icon-name="1463781891_support.png" privlige-id="10301">
			<properties>
				<property name="panel-class" value="com.fs.commons.apps.feedback.PnlFeedBack" />
			</properties>
		</menu-item>
		<menu-item name="MI_CHANGE_LOCALE" icon-name="1463782059_Refresh.png" privlige-id="10305">
			<properties>
				<property name="executor" value="com.fs.commons.apps.executors.ChangeLocaleExecutor" />
			</properties>
		</menu-item>
		<menu-item name="MI_CLEAR_CACHE" icon-name="1463782101_edit-clear.png" privlige-id="10306">
			<properties>
				<property name="executor" value="com.fs.commons.apps.executors.RestoreDefaultsExecutor" />
			</properties>
		</menu-item>
		<menu-item name="MI_UPDATES_HISTORY" icon-name="1463782134_Paste.png" privlige-id="10307">
			<properties>
				<property name="table-meta" value="version" />
			</properties>
		</menu-item>
	</menu>

	<menu name="MEN_DATABASE" icon-name="1463781754_database-px-png.png" privlige-id="103">
		<menu-item name="MI_BACKUP_DATABASE" icon-name="save.png" privlige-id="10302">
			<properties>
				<property name="panel-class" value="com.fs.security.ui.database.PnlDbBackup" />
			</properties>
		</menu-item>
		<menu-item name="MI_IMPORT_DATABASE" icon-name="import_db.gif" privlige-id="10303">
			<properties>
				<property name="panel-class" value="com.fs.security.ui.database.PnlImportDb" />
			</properties>
		</menu-item>
		<!-- <menu-item name="MI_LABLES" icon-name="Labeles.png"> <properties> <property name="table-meta" value="conf_lables" /> </properties> </menu-item> -->
	</menu>

</main-menu>